@page "/"
@layout MainLayout

<PageTitle>@AnalysisId</PageTitle>

<MudBreadcrumbs 
    Items="BreadcrumbItems"
    Separator=">" />

<MudContainer MaxWidth="MaxWidth.False" Class="pa-4">
    <MudText Typo="Typo.h5" Class="mb-2">MRVA Analysis ID: @AnalysisId</MudText>
    <MudGrid Class="mt-2" Spacing="4">
        <MudItem xs="12" sm="4">
            <MudPaper Class="d-flex flex-column align-center justify-center pa-4" Elevation="2">
                <MudIcon Icon="@Icons.Material.Outlined.CalendarMonth" Size="Size.Medium" Color="Color.Default" />
                <MudText Typo="Typo.subtitle1" Class="mt-1">@AnalysisDate</MudText>
                <MudText Typo="Typo.caption" Color="Color.Default">@ScreenText.AnalysisDate</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudPaper Class="d-flex flex-column align-center justify-center pa-4" Elevation="2">
                <MudIcon Icon="@Icons.Material.Outlined.PlayCircleOutline" Size="Size.Medium" Color="Color.Success" />
                <MudText Typo="Typo.subtitle1" Class="mt-1">@AnalysisStarted</MudText>
                <MudText Typo="Typo.caption" Color="Color.Default">@ScreenText.Started</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudPaper Class="d-flex flex-column align-center justify-center pa-4" Elevation="2">
                <MudIcon Icon="@Icons.Material.Outlined.CheckCircleOutline" Size="Size.Medium" Color="Color.Info" />
                <MudText Typo="Typo.subtitle1" Class="mt-1">@AnalysisCompleted</MudText>
                <MudText Typo="Typo.caption" Color="Color.Default">@ScreenText.Completed</MudText>
            </MudPaper>
        </MudItem>
    </MudGrid>
    <MudGrid Class="mt-4" Spacing="4">
        <MudItem xs="12">
            <MudPaper Class="pa-6" Elevation="2">
                <MudText Typo="Typo.h6" Class="mb-4">@ScreenText.AnalysisDetails</MudText>
                <MudSimpleTable Dense="true" Hover="true" Striped="true" Elevation="0">
                    <tbody>
                        <tr><td><strong>@ScreenText.ToolName</strong></td><td>@ToolName</td></tr>
                        <tr><td><strong>@ScreenText.ControllerRepo</strong></td><td>@ControllerRepo</td></tr>
                        <tr><td><strong>@ScreenText.QueryLanguage</strong></td><td>@QueryLanguage</td></tr>
                        <tr><td><strong>@ScreenText.State</strong></td><td>@AnalysisState</td></tr>
                        <tr><td><strong>@ScreenText.Status</strong></td><td>@AnalysisStatus</td></tr>
                        @if (!string.IsNullOrEmpty(FailureReason))
                        {
                            <tr><td><strong>@ScreenText.FailureReason</strong></td><td>@FailureReason</td></tr>
                        }
                        <tr><td><strong>@ScreenText.WorkflowRunId</strong></td><td>@ActionsWorkflowRunId</td></tr>
                    </tbody>
                </MudSimpleTable>
            </MudPaper>
        </MudItem>
    </MudGrid>
    <MudGrid Class="mt-4" Spacing="4">
        <MudItem xs="12">
            <MudText Typo="Typo.h6" Class="mb-2">@ScreenText.RepositoryBreakdown</MudText>
        </MudItem>
        <MudItem xs="6" sm="4" md="2">
            <MudPaper Class="d-flex flex-column align-center justify-center pa-4" Elevation="2" Style="cursor: pointer" @onclick="() => NavigateToReposByStatus()">
                <MudText Typo="Typo.h5">@TotalReposCount</MudText>
                <MudText Typo="Typo.caption" Color="Color.Default">@ScreenText.TotalRepos</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="6" sm="4" md="2">
            <MudPaper Class="d-flex flex-column align-center justify-center pa-4" Elevation="2" Style="cursor: pointer" @onclick="@(() => NavigateToReposByStatus("succeeded"))">
                <MudText Typo="Typo.h5" Color="Color.Success">@ScannedReposCount</MudText>
                <MudText Typo="Typo.caption" Color="Color.Default">@ScreenText.ScannedRepos</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="6" sm="4" md="2">
            <MudPaper Class="d-flex flex-column align-center justify-center pa-4" Elevation="2" Style="cursor: pointer" @onclick="@(() => NavigateToReposByStatus("skipped"))">
                <MudText Typo="Typo.h5" Color="Color.Warning">@SkippedReposCount</MudText>
                <MudText Typo="Typo.caption" Color="Color.Default">@ScreenText.SkippedRepos</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="6" sm="4" md="2">
            <MudPaper Class="d-flex flex-column align-center justify-center pa-4" Elevation="2" Style="cursor: pointer" @onclick="@(() => NavigateToReposByStatus("not_found"))">
                <MudText Typo="Typo.h5" Color="Color.Error">@NotFoundReposCount</MudText>
                <MudText Typo="Typo.caption" Color="Color.Default">@ScreenText.NotFoundRepos</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="6" sm="4" md="2">
            <MudPaper Class="d-flex flex-column align-center justify-center pa-4" Elevation="2" Style="cursor: pointer" @onclick="@(() => NavigateToReposByStatus("no_codeql_db"))">
                <MudText Typo="Typo.h5" Color="Color.Info">@NoCodeqlDbReposCount</MudText>
                <MudText Typo="Typo.caption" Color="Color.Default">@ScreenText.NoCodeQLDBRepos</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="6" sm="4" md="2">
            <MudPaper Class="d-flex flex-column align-center justify-center pa-4" Elevation="2" Style="cursor: pointer" @onclick="@(() => NavigateToReposByStatus("over_limit"))">
                <MudText Typo="Typo.h5" Color="Color.Secondary">@OverLimitReposCount</MudText>
                <MudText Typo="Typo.caption" Color="Color.Default">@ScreenText.OverLimitRepos</MudText>
            </MudPaper>
        </MudItem>
    </MudGrid>
    <MudGrid Class="mt-4" Spacing="4">
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Class="d-flex flex-column align-center justify-center pa-6" Elevation="2" Style="cursor: pointer" @onclick="NavigateToAlerts">
                <MudIcon Icon="@Icons.Material.Outlined.BugReport" Size="Size.Large" Color="Color.Error" />
                <MudText Typo="Typo.h4" Class="mt-2">@AlertCount</MudText>
                <MudText Typo="Typo.body2" Color="Color.Default">@ScreenText.TotalAlerts</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Class="d-flex flex-column align-center justify-center pa-6" Elevation="2" Style="cursor: pointer" @onclick="NavigateToRepositories">
                <MudIcon Icon="@Icons.Material.Outlined.Code" Size="Size.Large" Color="Color.Primary" />
                <MudText Typo="Typo.h4" Class="mt-2">@RepositoryCount</MudText>
                <MudText Typo="Typo.body2" Color="Color.Default">@ScreenText.TotalRepositories</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Class="d-flex flex-column align-center justify-center pa-6" Elevation="2" Style="cursor: pointer" @onclick="NavigateToRules">
                <MudIcon Icon="@Icons.Material.Outlined.Rule" Size="Size.Large" Color="Color.Warning" />
                <MudText Typo="Typo.h4" Class="mt-2">@RuleCount</MudText>
                <MudText Typo="Typo.body2" Color="Color.Default">@ScreenText.TotalRules</MudText>
            </MudPaper>
        </MudItem>
    </MudGrid>
    <MudGrid Class="mt-4 align-stretch" Spacing="4">
        <MudItem xs="12" md="6" Class="d-flex">
            <MudPaper Class="pa-6 flex-grow-1" Elevation="2">
                <MudText Typo="Typo.h6" Class="mb-4">@ScreenText.AlertsBySeverity</MudText>
                <MudChart ChartType="ChartType.Pie"
                          InputData="@SeverityData"
                          InputLabels="@SeverityLabels"
                          ChartOptions="@SeverityChartOptions"
                          @bind-SelectedIndex="SelectedSeverityIndex"
                          Width="100%%" Height="300px" />
            </MudPaper>
        </MudItem>
        <MudItem xs="12" md="6" Class="d-flex">
            <MudPaper Class="pa-6 flex-grow-1" Elevation="2">
                <MudText Typo="Typo.h6" Class="mb-4">@ScreenText.AlertsByRule</MudText>
                <MudTable Items="@RuleAlertCounts" Dense="true" Hover="true" Striped="true" Elevation="0" OnRowClick="RuleAlertCountClicked" T="RuleAlertCount" Style="cursor: pointer">
                    <HeaderContent>
                        <MudTh>@ScreenText.Rank</MudTh>
                        <MudTh>@ScreenText.Rule</MudTh>
                        <MudTh Style="text-align: right">@ScreenText.Alerts</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd>@context.Rank</MudTd>
                        <MudTd>@context.Rule</MudTd>
                        <MudTd Style="text-align: right">@context.Count</MudTd>
                    </RowTemplate>
                </MudTable>
                @if (RuleAlertCountsCapped)
                {
                    <MudText Typo="Typo.caption" Class="mt-2" Color="Color.Default">* @ScreenText.ShowingTop10</MudText>
                }
            </MudPaper>
        </MudItem>
    </MudGrid>
    <MudGrid Class="mt-4 align-stretch" Spacing="4">
        <MudItem xs="12" md="6" Class="d-flex">
            <MudPaper Class="pa-6 flex-grow-1" Elevation="2">
                <MudText Typo="Typo.h6" Class="mb-4">@ScreenText.RepositoryAlertCoverage</MudText>
                <MudChart ChartType="ChartType.Pie"
                          InputData="@RepoCoverageData"
                          InputLabels="@RepoCoverageLabels"
                          ChartOptions="@RepoCoverageChartOptions"
                          @bind-SelectedIndex="SelectedRepoCoverageIndex"
                          Width="100%%" Height="300px" />
            </MudPaper>
        </MudItem>
        <MudItem xs="12" md="6" Class="d-flex">
            <MudPaper Class="pa-6 flex-grow-1" Elevation="2">
                <MudText Typo="Typo.h6" Class="mb-4">@ScreenText.RuleAlertCoverage</MudText>
                <MudChart ChartType="ChartType.Pie"
                          InputData="@RuleCoverageData"
                          InputLabels="@RuleCoverageLabels"
                          ChartOptions="@RuleCoverageChartOptions"
                          @bind-SelectedIndex="SelectedRuleCoverageIndex"
                          Width="100%%" Height="300px" />
            </MudPaper>
        </MudItem>
    </MudGrid>
    <MudGrid Class="mt-4" Spacing="4">
        <MudItem xs="12" md="6">
            <MudPaper Class="pa-6" Elevation="2">
                <MudText Typo="Typo.h6" Class="mb-4">@ScreenText.Top10AffectedRepositories</MudText>
                <MudTable Items="@TopRepositories" Dense="true" Hover="true" Striped="true" Elevation="0" OnRowClick="TopRepositoryClicked" T="TopRepository" Style="cursor: pointer">
                    <HeaderContent>
                        <MudTh>@ScreenText.Rank</MudTh>
                        <MudTh>@ScreenText.Repository</MudTh>
                        <MudTh Style="text-align: right">@ScreenText.Alerts</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd>@context.Rank</MudTd>
                        <MudTd>@context.Name</MudTd>
                        <MudTd Style="text-align: right">@context.Count</MudTd>
                    </RowTemplate>
                </MudTable>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" md="6">
            <MudPaper Class="pa-6" Elevation="2">
                <MudText Typo="Typo.h6" Class="mb-4">@ScreenText.Top10CommonFilePaths</MudText>
                <MudTable Items="@TopFilePaths" Dense="true" Hover="true" Striped="true" Elevation="0" OnRowClick="TopFilePathClicked" T="TopFilePath" Style="cursor: pointer">
                    <HeaderContent>
                        <MudTh>@ScreenText.Rank</MudTh>
                        <MudTh>@ScreenText.FilePath</MudTh>
                        <MudTh>@ScreenText.Repository</MudTh>
                        <MudTh Style="text-align: right">@ScreenText.Alerts</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd>@context.Rank</MudTd>
                        <MudTd>@context.Path</MudTd>
                        <MudTd>@context.Repository</MudTd>
                        <MudTd Style="text-align: right">@context.Count</MudTd>
                    </RowTemplate>
                </MudTable>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>